---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="columns">
    <div class="column">
      <div class="box">
        <h3>
          <a class="post-link subtitle" href="{{ "/special/" | relative_url }}">メインチャンネル</a>
        </h3>
        <p>ゴーラウンドが制作するメイン音楽番組</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h3>
          <a class="post-link subtitle" href="{{ "/weekly/" | relative_url }}">ライブチャンネル</a>
        </h3>
        <p>ゴーランド撮影班が送る"いま"のライブを撮って出し</p>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box">
        <h3 class="">
          <a class="post-link subtitle" href="{{ "/train/" | relative_url }}">せんだいミュージックトレイン</a>
        </h3>
        <p>市民みんなで作るライブ番組</p>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h3 class="">
          <a class="post-link subtitle" href="{{ "/walk/" | relative_url }}">音楽さんぽ</a>
        </h3>
        <p>宮城のミュージシャンが面白い街の話、音楽の話などをご案内します</p>
      </div>
    </div>
  </div>

      <div class="box">
        <h3>
          <a class="post-link subtitle" href="{{ "/schedules/" | relative_url }}">ゴーラウンド・ライブスケジュール</a>
        </h3>
      </div>

      <div class="box">
        <h3>
          <a class="post-link subtitle" href="{{ "/events/" | relative_url }}">ゴーラウンド音楽祭</a>
        </h3>
      </div>

</div>
