---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul>
    <li>
      <h3>
        <a class="post-link" href="/special/">メインチャンネル</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="/train/">ミュージックトレイン</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="/weekly/">いきおいで流すぜ！　撮影班企画</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="/walk/">音楽さんぽ</a>
        <p>説明が入ります</p>
      </h3>
    </li>
  </ul>


</div>
