---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul>
    <li>
      <h3>
        <a class="post-link" href="{{ "/special/" | relative_url }}">メインチャンネル</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="{{ "/train/" | relative_url }}">ミュージックトレイン</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="{{ "/weekly/" | relative_url }}">いきおいで流すぜ！　撮影班企画</a>
        <p>説明が入ります</p>
      </h3>
    </li>

    <li>
      <h3>
        <a class="post-link" href="{{ "/walk/" | relative_url }}">音楽さんぽ</a>
        <p>説明が入ります</p>
      </h3>
    </li>
  </ul>


</div>
